<section class="collections" id="collections">

    <div class="section-header">
        <h2 class="section-title">Latest Collections</h2>
        <p class="section-subtitle">Discover our curated selection</p>
    </div>
    <div class="filters-container"
        style="display:flex;justify-content:center;gap:20px;flex-wrap:wrap;margin-bottom:30px;">

        <div class="category-tabs">
            <button class="tab-btn" [class.active]="selectedCategory=='all'" (click)="selectCategory('all')">
                tous
            </button>

            <button class="tab-btn" [class.active]="selectedCategory=='women'" (click)="selectCategory('women')">
                femme
            </button>

            <button class="tab-btn" [class.active]="selectedCategory=='men'" (click)="selectCategory('men')">
                homme
            </button>

            <button class="tab-btn" [class.active]="selectedCategory=='kids'" (click)="selectCategory('kids')">
                enfant
            </button>
        </div>

    </div>

    <div class="filter-bar">
        <!-- sort -->
        <div class="custom-dropdown">
            <button class="dropdown-toggle" (click)="toggleDropdown()">
                <i class="fa-solid fa-sliders fa-xl"></i> filtrer par
            </button>
            <div class="dropdown-overlay" [class.open]="dropdownOpen" (click)="toggleDropdown()"></div>
            <div class="dropdown-menu" [class.open]="dropdownOpen">
                <button class="close-btn" (click)="toggleDropdown()">×</button>
                <!-- Sorting options -->
                <div class="pink-radio-group">
                    <label class="pink-option">
                        <input type="radio" name="sort" [(ngModel)]="sortOption" value="" (change)="resetSlider()"
                            class="pink-radio-input" checked />
                        <div class="pink-selector"></div>
                        Default
                    </label>

                    <label class="pink-option">
                        <input type="radio" name="sort" [(ngModel)]="sortOption" value="priceAsc"
                            class="pink-radio-input" />
                        <div class="pink-selector"></div>
                        Price: Low → High
                    </label>

                    <label class="pink-option">
                        <input type="radio" name="sort" [(ngModel)]="sortOption" value="priceDesc"
                            class="pink-radio-input" />
                        <div class="pink-selector"></div>
                        Price: High → Low
                    </label>

                    <label class="pink-option">
                        <input type="radio" name="sort" [(ngModel)]="sortOption" value="az" class="pink-radio-input" />
                        <div class="pink-selector"></div>
                        A → Z
                    </label>

                    <label class="pink-option">
                        <input type="radio" name="sort" [(ngModel)]="sortOption" value="za" class="pink-radio-input" />
                        <div class="pink-selector"></div>
                        Z → A
                    </label>
                </div>

                <hr>
                <br>
                <div class="price-range">

                    <p class="range-title">Price Range</p>

                    <div class="range-slider">
                        <div class="price-slider">
                            <div class="slider-track"></div>
                            <div class="slider-range" [style.left.%]="(priceFilter.min / maxPrice) * 100"
                                [style.width.%]="((priceFilter.max - priceFilter.min) / maxPrice) * 100">
                            </div>

                            <input type="range" [min]="minPrice" [max]="maxPrice" [(ngModel)]="priceFilter.min"
                                (input)="updateSlider()">

                            <input type="range" [min]="minPrice" [max]="maxPrice" [(ngModel)]="priceFilter.max"
                                (input)="updateSlider()">

                        </div>

                        <p>Price: {{ priceFilter.min }} $ - {{ priceFilter.max }} $</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Search -->
        <div class="input-wrapper">

            <input #searchInput class="input" type="text" placeholder="Search products..." [(ngModel)]="searchTerm">

            <button class="icon" (click)="searchInput.focus()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="25" width="25">
                    <path stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" />
                    <path stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        d="M22 22L20 20" />
                </svg>
            </button>

        </div>
    </div>
    <div class="grid">

        <div class="collection-card" *ngFor="let product of paginatedProducts">

            <div class="collection-thumbnail">

                <a [routerLink]="['/product-details', product.id]">
                    <img [src]="getProductImage(product)">
                </a>

            </div>

            <div class="card-content">

                <!-- BADGES -->

                <span class="card-badge sale" *ngIf="product.badge=='sale'">
                    SALE
                </span>

                <span class="card-badge new" *ngIf="product.badge=='new'">
                    NEW
                </span>

                <span class="card-badge best" *ngIf="product.badge=='bestseller'">
                    BESTSELLER
                </span>

                <span class="card-badge trend" *ngIf="product.badge=='trending'">
                    TRENDING
                </span>

                <span class="card-badge stock" *ngIf="product.stock==0">
                    OUT OF STOCK
                </span>

                <span class="card-badge warning" *ngIf="product.stock>0 && product.stock<5">
                    Only {{product.stock}} left
                </span>

                <h3 class="card-title">
                    {{product.name}}
                </h3>

                <p class="card-subtitle">
                    {{product.category}}
                </p>

                <div class="price-row">

                    <div class="price-info">
                        <p class="card-price">{{product.price}} $</p>

                        <p class="old-price" *ngIf="product.badge === 'sale'">
                            {{product.oldPrice}} $
                        </p>
                    </div>

                    <!-- ❤️ LIKE BUTTON -->
                    <label class="ui-like">
                        <input type="checkbox" [checked]="isFavorite(product)" (change)="toggleFavorite(product)">
                        <div class="like">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M20.808,11.079C19.829,16.132,12,20.5,12,20.5s-7.829-4.368-8.808-9.421C2.227,6.1,5.066,3.5,8,3.5a4.444,4.444,0,0,1,4,2,4.444,4.444,0,0,1,4-2C18.934,3.5,21.773,6.1,20.808,11.079Z" />
                            </svg>
                        </div>
                    </label>

                </div>

            </div>

        </div>

    </div>

    <div class="pagination">

        <button (click)="prevPage()" [disabled]="currentPage === 1">‹</button>

        <button *ngFor="let page of pages" (click)="goToPage(page)" [class.active]="page === currentPage"
            [disabled]="page==='...'">

            {{page}}

        </button>

        <button (click)="nextPage()" [disabled]="currentPage === totalPages">›</button>

    </div>

</section>