<section class="contact-section">

<div class="contact-wrapper">

<!-- FORM -->

<div class="contact-form">

<h2>Contactez-nous</h2>

<form>

<div class="input-box">
<i class="fa fa-user"></i>
<input type="text" placeholder="Nom complet">
</div>

<div class="input-box">
<i class="fa fa-envelope"></i>
<input type="email" placeholder="Email">
</div>

<div class="input-box">
<i class="fa fa-tag"></i>
<input type="text" placeholder="Sujet">
</div>

<div class="input-box">
<i class="fa fa-message"></i>
<textarea placeholder="Votre message"></textarea>
</div>

<button>Envoyer</button>

</form>

</div>

<!-- MAP -->

<div class="contact-map">

<h2>notre Localisation</h2>

<iframe
src="https://maps.google.com/maps?q=beni%20khalled%20tunisia&t=&z=13&ie=UTF8&iwloc=&output=embed">
</iframe>

</div>

</div>

</section>
