<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3" [class.closed]="isClosed">
  <nav class="navbar navbar-light">

    <!-- LOGO -->
    <a routerLink="/dashboard" class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary">
        <i class="fa fa-hashtag me-2"></i>dashmin
      </h3>
    </a>
    <!-- USER -->
    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
        <img class="rounded-circle" src="assets/img/user.jpg"
             style="width: 40px; height: 40px;">
        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
      </div>
      <div class="ms-3">
        <h6 class="mb-0">Admin</h6>
        <span>Ons chaima</span>
      </div>
    </div>

    <div class="navbar-nav w-100">

      <!-- DASHBOARD -->
      <a routerLink="/dashboard" class="nav-item nav-link">
        <i class="fa fa-tachometer-alt me-2"></i>Dashboard
      </a>

      <!-- ================= PRODUITS ================= -->
      <details class="nav-item">
        <summary class="nav-link dropdown-toggle">
          <i class="fa fa-box me-2"></i>Produits
        </summary>

        <a routerLink="/products" class="nav-link ms-4 py-1">
          <i class="fa fa-list me-2"></i>Liste produits
        </a>

        <a routerLink="/products/add" class="nav-link ms-4 py-1">
          <i class="fa fa-plus me-2"></i>Ajouter produit
        </a>
      </details>

      <!-- ================= CATEGORIES ================= -->
      <details class="nav-item">
        <summary class="nav-link dropdown-toggle">
          <i class="fa fa-tags me-2"></i>Catégories
        </summary>

        <a routerLink="/category-list" class="nav-link ms-4 py-1">
          <i class="fa fa-list me-2"></i>Liste catégories
        </a>

        <a routerLink="/category-form" class="nav-link ms-4 py-1">
          <i class="fa fa-plus me-2"></i>Ajouter catégorie
        </a>
      </details>

      <!-- ================= USERS ================= -->
      <details class="nav-item">
        <summary class="nav-link dropdown-toggle">
          <i class="fa fa-users me-2"></i>Utilisateurs
        </summary>

        <a routerLink="/user-list" class="nav-link ms-4 py-1">
          <i class="fa fa-user-friends me-2"></i>Liste utilisateurs
        </a>

        <a routerLink="/user-details" class="nav-link ms-4 py-1">
          <i class="fa fa-user me-2"></i>Détails utilisateur
        </a>
      </details>

      <!-- ================= COMMANDES ================= -->
      <details class="nav-item">
        <summary class="nav-link  dropdown-toggle">
          <i class="fa fa-shopping-cart me-2"></i>Commandes
        </summary>

        <a routerLink="/order-list" class="nav-link ms-4 py-1">
          <i class="fa fa-list me-2"></i>Liste commandes
        </a>

        <a routerLink="/order-details" class="nav-link ms-4 py-1">
          <i class="fa fa-file-alt me-2"></i>Détails commande
        </a>
      </details>

      <!-- ================= PAYMENTS ================= -->
      <details class="nav-item">
        <summary class="nav-link dropdown-toggle">
          <i class="fa fa-credit-card me-2"></i>Paiements
        </summary>

        <a routerLink="/payment-list" class="nav-link ms-4 py-1">
          <i class="fa fa-receipt me-2"></i>Liste paiements
        </a>
      </details>

      <!-- ================= LIVRAISON ================= -->
      <a routerLink="/livraison-list" class="nav-item nav-link">
        <i class="fa fa-truck me-2"></i>Livraison
      </a>

      <!-- ================= AVIS ================= -->
      <details class="nav-item dropdown-toggle">
        <summary class="nav-link dropdown-toggle">
          <i class="fa fa-star me-2"></i>Avis
        </summary>

        <a routerLink="/review-list" class="nav-link ms-4 py-1">
          <i class="fa fa-comments me-2"></i>Liste avis
        </a>
      </details>

      <!-- ================= PROMOTIONS ================= -->
      <details class="nav-item">
        <summary class="nav-link dropdown-toggle">
          <i class="fa fa-bullhorn me-2"></i>Promotions
        </summary>

        <a routerLink="/promotion-list" class="nav-link ms-4 py-1">
          <i class="fa fa-list me-2"></i>Liste promotions
        </a>

        <a routerLink="/promotion-form" class="nav-link ms-4 py-1">
          <i class="fa fa-plus me-2"></i>Ajouter promotion
        </a>
      </details>

    </div>
  </nav>
</div>
<!-- Sidebar End -->
