<nav id="navbar">
  <div class="nav-container">

    <!-- Logo -->
    <a href="#home" class="logo-link">
      <span class="logo-text">NOIR</span>
    </a>

    <!-- Menu -->
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Collections</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Featured</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>

    <!-- Icons -->
    <div class="nav-icons">

      <!-- Wishlist -->
      <div class="icon-btn">
        <a a routerLink="/favorites" >
        <i class="fa fa-heart"></i></a>
      </div>

      <!-- Cart -->
      <div class="icon-btn cart">
        <a a routerLink="/cart" >
        <i class="fa fa-shopping-cart"></i>
        <span class="cart-count">0</span></a>
      </div>

      <!-- Account -->
      <div class="icon-btn">
        <a a routerLink="/profile" >
        <i class="fa fa-user"></i></a>
      </div>

    </div>

    <!-- Mobile menu -->
    <div class="menu-toggle" id="menuToggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
</nav>


    <div class="mobile-nav" id="mobileNav">
        <ul class="mobile-nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Collections</a></li>
      <li><a routerLink="/profile"  routerLinkActive="active">Featured</a></li>
      <li><a routerLink="/contact"  routerLinkActive="active">Contact</a></li>
        </ul>
    </div>