/* Container général */
.history-container {
  padding: 20px;
  background-color: #fff; /* fond blanc */
  color: #000; /* texte noir par défaut */
  font-family: Arial, sans-serif;
}

.history-container h2 {
  color: #0a0a0a;   
  margin-top: 20px;       
  font-size: 28px;          
  font-weight: 700;         
  text-align: center;        
  margin-bottom: 20px;
  letter-spacing: 1px;      
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1); 
}


/* Subtitle */
.history-container .subtitle {
  color: #000;
  margin-bottom: 20px;
}

/* Table */
.history-container table {
  width: 100%;
  border-collapse: collapse;
  color: #000; /* texte noir */
}

/* Entête */
.history-container th {
  text-align: left;
  padding: 10px;
  background-color: #f2f2f2;
  color: #000;
  border-bottom: 2px solid #ddd;
}

/* Lignes du tableau */
.history-container td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: #000;
}

/* Bouton détails */
.history-container button {
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Bouton hover */
.history-container button:hover {
  background-color: #333;
}

/* Message si tableau vide */
.history-container .empty p {
  color: #000;
  font-style: italic;
  margin-top: 15px;
}

