<section class="profile-section">
  <div class="history-container">

    <h2>Historique de vos commandes</h2>

    <table *ngIf="orders.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <!--<th>Produits</th>-->
          <th>Date</th>
          <th>Détails</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <!--<td>{{ getProductNames(order.items) }}</td>-->
          <td>{{ order.date | date:'short' }}</td>
          <td><button (click)="viewDetails(order)">Voir détails</button></td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="orders.length === 0" class="empty">
      <p>Aucune commande trouvée</p>
    </div>

  </div>
</section>
