<div class="favorites-container">

  <h2>❤️ Mes Favorites</h2>

  <!-- EMPTY -->
  <div *ngIf="favorites.length === 0" class="empty-fav">
    <div class="icon">💔</div>
    <h3>Aucun favori pour l'instant</h3>
    <p>Ajoutez vos produits préférés ❤️</p>

    <a routerLink="/products" class="shop-btn">
      Commencer vos achats
    </a>
  </div>

  <!-- GRID -->
  <div class="fav-grid" *ngIf="favorites.length > 0">

    <div class="fav-card" *ngFor="let p of favorites">

      <!-- IMAGE -->
      <div class="img-box">
        <a [routerLink]="['/product-details', p.id]">
          <img [src]="getImage(p)" alt="{{p.name}}">
        </a>

        <!-- REMOVE ❤️ -->
        <button class="remove" (click)="remove(p)">❤️</button>
      </div>

      <!-- INFO -->
      <div class="info">
        <!-- BADGES -->

        <span class="card-badge sale" *ngIf="p.badge=='sale'">
          SALE
        </span>

        <span class="card-badge new" *ngIf="p.badge=='new'">
          NEW
        </span>

        <span class="card-badge best" *ngIf="p.badge=='bestseller'">
          BESTSELLER
        </span>

        <span class="card-badge trend" *ngIf="p.badge=='trending'">
          TRENDING
        </span>

        <span class="card-badge stock" *ngIf="getTotalStock(p) === 0">
          OUT OF STOCK
        </span>

        <span class="card-badge warning" *ngIf="getTotalStock(p) > 0 && getTotalStock(p) <= 5">
          Only {{ getTotalStock(p) }} left
        </span>
        <h4>{{p.name}}</h4>
        <p>{{p.price}} $</p>
        <!-- actions -->
        <div class="actions">
          <button class="add-cart" [routerLink]="['/product-details', p.id]">
            🛒 Ajouter au panier
          </button>
        </div>
      </div>



    </div>

  </div>

</div>