<section class="profile-section">

<div class="profile-box">

<div class="profile-header">

<img src="https://i.pravatar.cc/150" class="avatar">

<h2>Abdelali Ons</h2>
<p>abdelali@email.com</p>

</div>

<div class="profile-content">

<div class="info">
<h4>Nom et prenom</h4>
<p>abdelali_ons</p>
</div>

<div class="info">
<h4>telephone</h4>
<p>+216 55 555 555</p>
</div>

<div class="info">
<h4>Addresse</h4>
<p>Beni khalled, Nabeul</p>
</div>

<div class="info">
<h4>Membre depuis</h4>
<p>2026</p>
</div>

</div>

<div class="profile-buttons">

<button routerLink="/edit-profile" class="edit">Modifier Profil</button>
<button class="logout">Logout</button>

</div>

</div>

</section>
