<section class="hero"id="home">
        <div class="hero-bg"></div>
  <div class="hero-container">
   

    <!-- LEFT TEXT -->
    <div class="hero-left">
      <h1 class="hero-title">
        <span>{{ slides[current].title }}</span>
      </h1>

      <p class="hero-desc">
        {{ slides[current].desc }}
      </p>

      <div class="cta-group">
        <a routerLink="/products" class="cta-button primary">
          Explorer
        </a>
      </div>
    </div>

    <!-- RIGHT IMAGE -->
    <div class="hero-right">
      <div class="image-wrapper">
        <img [src]="slides[current].image" class="hero-img" />
      </div>
    </div>

  </div>
</section>
