<div class="login-page">
  <div class="login-box">

    <div class="login-header">
      <h2>Créer un compte</h2>
      
    </div>

    <form>

      <!-- Nom -->
      <div class="input-group">
        <input type="text" placeholder="Nom complet" required>
      </div>

      <!-- Email -->
      <div class="input-group">
        <input type="email" placeholder="Email" required>
      </div>

      <!-- Téléphone -->
      <div class="input-group">
        <input type="text" placeholder="Téléphone" required>
      </div>

      <!-- Rôle -->
      <div class="input-group">
        <select required>
          <option value="">Sélectionner un rôle</option>
          <option value="ADMIN">Admin</option>
          <option value="LIVREUR">Livreur</option>
        </select>
      </div>

      <!-- Mot de passe -->
      <div class="input-group">
        <input type="password" placeholder="Mot de passe" required>
      </div>

      <!-- Confirmation -->
      <div class="input-group">
        <input type="password" placeholder="Confirmer mot de passe" required>
      </div>

      <!-- Bouton -->
      <button type="submit" class="login-btn">
        Créer le compte
      </button>

      <!-- Login -->
      <div class="register-link">
        Déjà un compte ?
        <a routerLink="/login">Se connecter</a>
      </div>

    </form>

  </div>
</div>
